{% extends 'sitio_cliente/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<section class="container">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-12 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 pt-5  text-light pb-5" style="border-radius: 25px;">
            <h4 class="text-center pb-2">Iniciar Sesion</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-secondary btn-block mt-4" value="Ingresar">

            </form>
            <p class="mt-3">¿No tienes cuenta? Crea una <a href="{% url 'registro' %}" style="text-decoration: none; color: #4dfced">| &nbsp;   Aquí &nbsp;  |</a></p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">

        </div>
    </div>
</section>
{% endblock contenido %}

