
{%load static %}

<!doctype html>
<html lang="es">
  <head>
    <title>Juegarte</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    
    
     <!--Alertas Sweet Alert -->
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'sitio_cliente/javascript/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
    
    
    <link rel="stylesheet" href="{% static 'sitio_cliente/css/cliente.css' %}">
    {% block head %}
    
    {% endblock head %}
    <style>
        @media(min-width:768px){
            #dropuser {
                position: absolute;
                right: 10%;

            }
        }
    </style>

</head>
  <body>
      
    <header class="">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark pt-3 pb-3">
            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'homecliente' %}" >Juegarte</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homecliente' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogojuegos' %}">Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogoarte' %}">Arte</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'carrito' %}"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                    
                    
                    <li class="nav-item dropdown " id="dropuser" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu bg-dark item-dark">
                            {% if user.is_authenticated %}
                                <a class="dropdown-item bg-dark text-light" id="NavDropLink" href="{% url 'listadopedidos' %}">Pedidos</a>

                                <a class="dropdown-item  bg-dark text-light" id="NavDropLink" href="{% url 'logout' %}">Salir</a>
                                {%if perms.can_add_arte%}
                                    <a class="dropdown-item bg-dark text-light" id="NavDropLink" href="{% url 'home' %}">Administrar</a>
                                {% endif %}

                            {% else %}
                                <a class="dropdown-item  bg-dark text-light" id="NavDropLink" href="{% url 'login' %}">Ingresar</a>
                            {% endif %}
                            

                            
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% block contenido %}
    
    {% endblock contenido %}



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>



    </body>
</html>