{% extends 'sitio_cliente/base.html' %}
{% load static %}

{% block head %}
<style>
    body{
        background-color: #8B78FF;
    }
</style>

{% endblock head %}


{% block contenido %}
<script>
    function confirmarpedido(){
    Swal.fire({
    title:"¿Desea generar el pedido?",
    
    showConfirmButton: true,
    confirmButtonColor: "blue",

    confirmButtonText:"Confirmar",

    showCancelButton: true,
    cancelButtonText:"Cancelar",
   
}).then(function(result){
    if(result.isConfirmed){
        window.location.href="http://127.0.0.1:8000/carrito/generarpedido";
    }
});
    };

</script>
<section>
    {% if not items %}
    <div class="container  text-center">
        <h2 class="text-center pt-5 pb-3">Carrito de compras</h2>
        <div class="pt-5">
            <h3 class="text-center">Ningun item en carrito</h3>
            <h3 class="text-center pt-3 pb-4">Buscar productos</h3>
            
            <a href="{% url 'catalogojuegos' %}" class="btn btn-info btn-lg">Juegos</a> <a href="{% url 'catalogoarte' %}" class="btn btn-warning btn-lg" > Arte</a>
        </div>
    </div>
    {% else %}
         <div class="container">
        <h2 class="text-center pt-5 pb-3">Carrito de compras</h2>
       
        <table class="table table-striped" style="background-color:#FFD187;">
            <thead class="bg-dark text-light">
                
                <th class="text-center">Nombre</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">Acciones</th>
            </thead>
            <tbody>
               {% for item in items  %}
               <tr>
                <td class="text-center">{{item.producto}}</td>
                <td class="text-center">${{item.precio}}</td>
                <td class="text-center"> <a class="btn btn-sm btn-outline-secondary" href="{% url 'aumentarcantidad' item.id %}" style="height: 50%;"><i class="fas fa-sort-up"></i></a> 
                    &nbsp; &nbsp;{{item.cantidad}} &nbsp;&nbsp;
                    {% if item.cantidad == 0 %}
                    <a class="btn btn-sm btn-outline-secondary disabled" href="{% url 'restarcantidad' item.id %}" style="height: 50%;"><i class="fas fa-sort-down"></i></a>
                    {% else %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'restarcantidad' item.id %}" style="height: 50%;"><i class="fas fa-sort-down"></i></a>
                    {% endif %}
                    
                </td>
                <td class="text-center">${{item.subtotal|floatformat}}</td>
                <td class="text-center"><a  class="btn btn-outline-danger" href="{% url 'eliminaritem' item.id %}" role="button" ><i class="far fa-trash-alt"></i></a></td>
                
                
               
                </tr>
               {% endfor %}
               
            </tbody>
            <tfoot>
                <tr><td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr class="table-borderless">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-dark text-light text-center" style="font-weight:700;">Total:</td>
                </tr>
                <tr class="table-borderless">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td ></td>
                    <td class="table-dark text-light text-center" style="font-weight:700;">${{carro.total|floatformat}}</td>
                </tr>
                
            </tfoot>
        </table>
       <div class="row" >
            <div class="col-lg-4 offset-lg-4 col-sm-12">
                {% if carro.total == 0%}
                <a onclick="confirmarpedido()" class="btn btn-block btn-dark text-light disabled">Generar pedido</a>
                {% else %}
                <a onclick="confirmarpedido()" class="btn btn-block btn-dark text-light">Generar pedido</a>
                {% endif %}
                
            </div>
       </div>
       
    </div>
    {% endif %}
   
</section>



{% endblock contenido %}