{% extends 'sitio_cliente/base.html' %}
{%load static %}

{% block head %}
<style>
    body{
        background-color: #8B78FF;
        font-family: 'Oswald', sans-serif;
       
    }
    #cardsjuegos img{
        max-height: 200px;
    }
 </style>   
 
{% endblock head %}

{% block contenido %}

<script>
     $(document).ready(function () {
         $("select").selectpicker()
     });


function agregarcarrito(id){

Swal.fire({
    title:"¿Desea agregar juego a carrito?",
    
    showConfirmButton: true,
    confirmButtonColor: "green",
    confirmButtonText:"Agregar",

    showCancelButton: true,
    cancelButtonText:"Cancelar",
   
}).then(function(result){
    if(result.isConfirmed){
        window.location.href="agregarjuegocarrito/" + id;
    }
});

}

</script>
<section id="filtrojuegos">
    <h3  class="text-center">Nuestros Juegos</h3>
    <div class="container text-center bg-dark text-light p-1"style="border-radius: 35px;" id="filtrojuegoform">
        <form method="GET" class="">
            {{filtro.form}}
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>
</section>

<section class="mt-3" id="cardsjuegos">
    <div class="container mt-5">
        <div class="row ">
            {% for juego in juegos  %}
                
            <div class="col-lg-4 col-md-6 col-sm-12 py-2 "> 
                <div class="card h-100 " style="width: 18rem;">
                    {% if  juego.imagen %}
                        <img src="{{juego.imagen.url}}" class="" alt="Los Angeles">
                    {% else %}
                        <img src="{% static 'sitio_cliente/img/Enconstruccion.jpg' %}" class="imgcarousel" alt="Los Angeles">
                    {% endif %}
                    
                  <div class="card-body  bg-dark text-light ">
                    <h5 class="card-title">{{juego.nombrejuego}}</h5>
                    
                    <p class="card-text">Categoria:  {{juego.categoria}}</p>
                    <p class="card-text">${{juego.preciojuego}}</p>
                    
                 
                    
                    
                  </div>
                  <div class="card-footer bg-dark text-light">
                    <a href="{% url 'detallejuego' juego.idjuego %}" class="  card-link btn btn-outline-secondary text-light" >Detalle</a>
                    <a href="#" class="align-self-end card-link btn btn-outline-success " onclick="agregarcarrito({{juego.idjuego}})" >Carrito</a>
                  </div>
                </div>
                </div>
                
            
            
            
            {% endfor %}
        </div>
        
            


            
            
        
    </div>
</section>




{% endblock contenido %}


