{% extends 'sitio_cliente/base.html' %}
{%load static %}

{% block head %}
<style>
    body{
        background-color: #8B78FF;
        font-family: 'Oswald', sans-serif;
       
    }
 </style>   
{% endblock head %}

{% block contenido %}

<script>
     $(document).ready(function () {
         $("select").selectpicker()
     });


function agregarcarrito(id){

Swal.fire({
    title:"¿Desea agregar juego a carrito?",
    
    showConfirmButton: true,
    confirmButtonColor: "green",
    confirmButtonText:"Agregar",

    showCancelButton: true,
    cancelButtonText:"Cancelar",
   
}).then(function(result){
    if(result.isConfirmed){
        window.location.href="agregarartecarrito/" + id;
    }
});

}

</script>
<section id="filtrojuegos">
    <h3  class="text-center">Nuestro arte</h3>
    <div class="container text-center bg-dark text-light p-1"style="border-radius: 35px;" id="filtrojuegoform">
        <form method="GET" class="">
            {{filtro.form}}
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>
</section>

<section class="mt-3" id="cardsjuegos">
    <div class="container mt-5">
        <div class="row">
            {% for item in arte  %}
                
            <div class="col-4 py-3 "> 
                <div class="card h-100" style="width: 18rem;">
                    {% if item.imagen %}
                        <img src="{{item.imagen.url}}" class="imgcarousel" alt="Los Angeles">
                    {% else %}
                        <img src="{% static 'sitio_cliente/img/Enconstruccion.jpg' %}" class="imgcarousel" alt="Los Angeles">
                    {% endif %}
                    
                  <div class="card-body h-100 bg-dark text-light">
                    <h5 class="card-title">{{item.nombrearte}}</h5>
                    
                    <p class="card-text">Categoria:  {{item.categoria}}</p>
                    <p class="card-text">${{item.precioarte}}</p>
                    
                    
                  </div>
                  <div class="card-footer bg-dark text-light">
                    <a href="{% url 'detallearte' item.idarte %}" class="card-link btn btn-outline-secondary text-light" >Detalle</a>
                    <a href="#" class="card-link btn btn-outline-success " onclick="agregarcarrito({{item.idarte}})" >Carrito</a>
                  </div>
                </div>
                </div>
                
            
            
            
            {% endfor %}
        </div>
        
            


            
            
        
    </div>
</section>




{% endblock contenido %}


