{% extends 'sitio_cliente/base.html' %}
{% load static %}


{% block head %}
<style>
    .estado{
        margin: auto;
        width: 30% !important;
    }
</style>

{% endblock head %}

{% block contenido %}

<section class="mt-5">
    <div class="container ">
        <div class=" text-center justify-content-center">
            <h4 class="text-center">Informacion Pedido</h4>
            <table class="table table-responsive estado"  style="background-color:#FFD187;">
                <thead class="bg-dark text-light">
                    <th>Estado</th>
                    <th>Fecha</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{pedidodet.get_estado_display}}
                        </td>
                        <td>
                            {{pedidodet.fecha}} 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
       <div class="mt-5">
        <h4 class="text-center">Items Pedido</h4>
        <table class="table table-striped"  style="background-color:#FFD187;">
            <thead class="bg-dark text-light">
                
                <th class="text-center">Nombre</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Subtotal</th>
                
            </thead>
            <tbody>
               {% for item in items  %}
               <tr>
                <td class="text-center">{{item.producto}}</td>
                <td class="text-center">${{item.precio}}</td>
                <td class="text-center">
                    &nbsp; &nbsp;{{item.cantidad}} &nbsp;&nbsp;
                </td>
                <td class="text-center">${{item.subtotal|floatformat}}</td>
    
                
                
               
                </tr>
               {% endfor %}
               
            </tbody>
            <tfoot>
                <tr><td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                <tr class="table-borderless">
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td class="table-dark text-light text-center" style="font-weight:700;">Total:</td>
                </tr>
                <tr class="table-borderless">
                    <td></td>
                    
                    <td></td>
                    <td ></td>
                    <td class="table-dark text-light text-center" style="font-weight:700;">${{pedidodet.monto}}</td>
                </tr>
                
            </tfoot>
        </table>
       </div>
    </div>

</section>

{% endblock contenido %}