{% extends 'sitio_cliente/base.html' %}
{%load static %}
{%load crispy_forms_tags%}
{% block head %}
<link rel="stylesheet" href="{% static 'sitio_cliente/css/cliente.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=PT+Serif&display=swap" rel="stylesheet">

<style>
    body{
        background-color: #8B78FF;
        font-family: 'Oswald', sans-serif;
       
    }
 </style>  
{% endblock head %}


{% block contenido %}
<script>
    $(document).ready(function () {
         
        $.getJSON("https://mindicador.cl/api", function (datos) {
               // alert(datos.dolar.valor);
               var dolarv= datos.dolar.valor;
               var eurov= datos.euro.valor;
               var valorproducto= parseInt($("#valorpeso").text());
               var preciodolar=valorproducto/dolarv;
               var preciodolar= preciodolar.toString();
               var usdshort= jQuery.trim(preciodolar).substring(0,4)
               var precioeuro= valorproducto/eurov;
               var precioeuro= precioeuro.toString()
               var euroshort= jQuery.trim(precioeuro).substring(0,4)
               $('#valordolar').text("$"+usdshort+"USD")
               $("#valoreuro").text("$"+euroshort+"EUR")


        })        
    });



</script>


<script>
    $(document).ready(function () {
        $("select").selectpicker()
    });


function agregarcarrito(id){

Swal.fire({
   title:"¿Desea agregar juego a carrito?",
   
   showConfirmButton: true,
   confirmButtonColor: "green",
   confirmButtonText:"Agregar",

   showCancelButton: true,
   cancelButtonText:"Cancelar",
  
}).then(function(result){
   if(result.isConfirmed){
       window.location.href= "http://127.0.0.1:8000/catalogojuegos/agregarjuegocarrito/" + id;
   }
});

}

</script>
<section id="detallejuego "  >
    <div class="container mt-5">
        <div class="row ">
            <div class="col-lg-8 col-sm-12">
                {% if juego.imagen %}
                 <img src="{{juego.imagen.url}}" class="imgcarousel" alt="Los Angeles">
                {% else %}
                 <img src="{% static 'sitio_cliente/img/Enconstruccion.jpg' %}" class="imgcarousel" alt="Los Angeles">
                {% endif %}
               
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-dark text-white h-100">
                    <div class="card-body h-100 d-flex flex-column text-center">
                      <h4 class="card-title text-center">{{juego.nombrejuego}}</h4>
                      <p class="card-text text-center" id="descripcionjuego">{{juego.descripcion}}</p>
                       <p class="card-text">Categoria:{{juego.categoria}}</p> 
                       <p class="card-text">Precio:$<span id="valorpeso">{{juego.preciojuego}}</span>CLP, <span id="valordolar"></span>, <span id="valoreuro"></span></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            
            <div class="col-lg-6 offset-lg-3 col-sm-12 ">
                <button class="btn btn-block btn-outline-success "onclick="agregarcarrito({{juego.idjuego}})" style="color:#FF5733  ;background-color: #581845;"><i class="fas fa-cart-plus" ></i>  Agregar a carrito</button>
            </div>
        </div>

    </div>
</section>

<section id="reviewsjuego">
    <div class="container mt-5">
        <h3 class="text-center">Reseñas producto</h3>
        {% if poseereview == 0 %}
            <h5 class="text-center mt-3 mb-1">Deja tu reseña</h5>
        <div class="row" id="userreview">
            <div class="col-lg-2 col-sm-12">

            </div>
            <div class="col-lg-8 col-sm-12">
                <form action="" method="POST" enctype="multipart/form-data " id="formreview">
                    {% csrf_token %}
                    {{formulario|crispy}}
                    <input type="submit" class="btn  btn-secondary mb-5" style="color:#FF5733  ;background-color: #581845;" value="Publica tu reseña">
                </form>
            </div>
        {% endif %}
        
        </div>
        

    </div>
    <div class="container bg-secondary mb-3" style="border-radius: 35px 35px 25px 25px ;">
        <h5 class="text-center mt-3 mb-3">Reseña usuarios</h5>

        {% if not reviews %}
            <div class="row mt-3 mb-0">
            <div class="col-lg-2 col-sm-12 reviewown  text light" >
                <p class="pt-4 pl-5">{{item.user}}</p>
            </div>
            <div class="col-lg-9 col-sm-12 reviewdetail bg-dark text-light mb-2 " style="font-family: 'PT Serif', serif; ">
                <div>
                    <h5 class="pt-3"></h5>
                </div>
                <p class="text-center pr-5">Actualmente no hay reviews</p>
                
            </div>
            {% endif %}
        {% for item in reviews %}
        
        <div class="row mt-3 mb-0">
            <div class="col-lg-2 col-sm-12 reviewown  text light" >
                <p class="pt-4 pl-5" style="font-weight: 900;">
                    <i class="fas fa-user-circle"></i>
                    {{item.user}}</p>
            </div>
            <div class="col-lg-9 col-sm-12 reviewdetail bg-dark text-light mb-2 " style="font-family: 'PT Serif', serif; ">
                <div>
                    <h5 class="pt-3">{{item.get_recomienda_display}}</h5>
                </div>
                <p>{{item.review}}</p>
                
            </div>
        </div>
        
        

        
        {% endfor %}
    </div>

     
    
</section>


{% endblock contenido %}
