{% extends 'sitio_cliente/base.html' %}
{%load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'sitio_cliente/css/cliente.css' %}">


<!-- fonts google -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<style>
    body{
        background-color: #8B78FF;
        font-family: 'Oswald', sans-serif;
       
    }
.carousel-caption{
    font-family: 'Bebas Neue', cursive;
}

</style>
{% endblock head %}


{% block contenido %}
    
    <section class="" id="carouseljuegos">
        <div class="container pt-3">
            <h3 class="text-center">Nuestros Juegos</h3>
            <div id="carjuegos" class="carousel slide" data-ride="carousel">

               
              
                <!-- The slideshow -->
                <div class="row">
                {% for juego in juegos %}
                <div class="carousel-inner">
                {% if forloop.counter == 1 %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item ">
                {% endif %}
                    <div class=" ">
                        {% if juego.imagen %}
                             <a href="{% url 'detallejuego' juego.idjuego %}"><img src="{{juego.imagen.url}}" class="imgcarousel" alt="{{juego.nombrejuego}}"></a>
                        {% else %}
                            <img src="{% static 'sitio_cliente/img/Enconstruccion.jpg' %}" class="imgcarousel" alt="Default">
                        {% endif %}
                        
                    </div>
                    <div class="carousel-caption ">
                        <h3>{{ juego.nombrejuego }}</h3>
                        
                      </div>

                   {% comment %} <p>{{juego.nombrejuego}}</p> {% endcomment %}
                    {% comment %} <img src="{% static 'sitio_cliente/img/Enconstruccion.jpg' %}" alt="Los Angeles"> {% endcomment %}
                   
                  </div>
                
                {% endfor %}

               
               
              
              </div>


            
        </div>
    </section>

    <section id="sectionarte" class="pt-4">
        <div class="container pt-3">
            <h3 class="text-center">Nuestro Arte</h3>
            <div id="demo" class="carousel slide" data-ride="carousel">

               
              
                <!-- The slideshow -->
                <div class="row">
                {% for arte in arte %}
                <div class="carousel-inner">
                {% if forloop.counter == 1 %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item ">
                {% endif %}
                    <div class=" ">
                    {% if arte.imagen %}
                            <a href="{% url 'detallearte' arte.idarte %}"><img src="{{arte.imagen.url}}" class="imgcarousel" alt="{{arte.nombrearte}}"></a> 
                        {% else %}
                            <img src="{% static 'sitio_cliente/img/Enconstruccion.jpg' %}" class="imgcarousel" alt="Default">
                        {% endif %}
                       
                    </div>
                    <div class="carousel-caption ">
                        <h3>{{ arte.nombrearte }}</h3>
                        
                      </div>

                    
                  </div>
                
                {% endfor %}
            </div>
              
               
              
              </div>


            
        </div>

    </section>

{% endblock contenido %}