{% extends 'sitio_cliente/base.html' %}
{% load static %}

{% block contenido %}

<section>
    <div class="container">
        <h3 class="mt-5 mb-4 text-center">Listado de pedidos</h3>
        <table class="table table-responsive-lg table-striped" style="background-color:#FFD187;">
            <thead class="bg-dark text-light">
                <th>ID</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Detalle</th>

            </thead>
            <tbody>
            {% for pedido in pedidos  %}
                 <tr>
                    <td>{{pedido.id}}</td>
                    <td>{{pedido.fecha}}</td>
                    <td>${{pedido.monto}}</td>
                    <td>{{pedido.get_estado_display}}</td>
                    <td><a href="{% url 'detallepedido' pedido.id %}" class="btn btn-outline-info"><i class="fas fa-info-circle"></i></a></td>
                </tr>
            
            {% endfor %}
               
            </tbody>
        </table>

    </div>
</section>

{% endblock contenido %}