{% extends 'sitio_admin/base.html' %}
{%load static %}
{%load crispy_forms_tags%}


{% block links %}

{% endblock links %}



{% block contenido %}
<script>
    $(document).ready(function () {
        $('select').selectpicker();
        $('select').addClass("show-tick");
        $('#id_categoria').attr("title","Seleccione categoria")
        $('option').addClass("form-control");
        $("div.filter-option-inner-inner:contains('Nothing selected')").text("Seleccione categoria")
        
    
       
    });
</script>

<section>
    <div class=" container p-5">
        
        <div class="container pl-5 pr-5 pt-0">
        {% if form %}
            <h4 class="text-center">Agregar Arte</h4>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn  btn-secondary mb-5" value="Agregar Arte">
            </form>
        {% endif %}    
        </div>
       
    </div>
</section>


 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

 <!-- Latest compiled and minified JavaScript -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
 
 <!-- (Optional) Latest compiled and minified JavaScript translation files -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
     

{% endblock contenido %}