{% extends 'sitio_admin/base.html' %}
{% load static %}

{% block links %}
<style>
    .estado{
        margin: auto;
        width: 35% !important;
    }
</style>

{% endblock links %}

{% block contenido %}

<section class="mt-5">
    <div class="container ">
        <div class=" text-center justify-content-center">
            <h4 class="text-center">Informacion Pedido</h4>
            <table class="table table-responsive estado">
                <thead>
                    <th>Estado</th>
                    <th>Fecha</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{pedidodet.get_estado_display}}
                        </td>
                        <td>
                            {{pedidodet.fecha}} 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Cambiar Estado
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'cambiarestado' pedidodet.id 1 %}">Esperando deposito</a>
                  <a class="dropdown-item" href="{% url 'cambiarestado' pedidodet.id 2 %}">En camino</a>
                  <a class="dropdown-item" href="{% url 'cambiarestado' pedidodet.id 3 %}">Cerrado</a>
                  <a class="dropdown-item" href="{% url 'cambiarestado' pedidodet.id 4 %}">Cancelado</a>
                 
                </div>
              </div>
        </div>
       <div class="mt-5">
        <h4 class="text-center">Items Pedido</h4>
        <table class="table table-striped">
            <thead>
                
                <th class="text-center">Nombre</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Subtotal</th>
                
            </thead>
            <tbody>
               {% for item in items  %}
               <tr>
                <td class="text-center">{{item.producto}}</td>
                <td class="text-center">${{item.precio}}</td>
                <td class="text-center">
                    &nbsp; &nbsp;{{item.cantidad}} &nbsp;&nbsp;
                </td>
                <td class="text-center">${{item.subtotal|floatformat}}</td>
    
                
                
               
                </tr>
               {% endfor %}
               
            </tbody>
            <tfoot>
                <tr><td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                <tr class="table-borderless">
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td class="table-secondary text-dark text-center" style="font-weight:700;">Total:</td>
                </tr>
                <tr class="table-borderless">
                    <td></td>
                    
                    <td></td>
                    <td ></td>
                    <td class="table-secondary text-dark text-center" style="font-weight:700;">${{pedidodet.monto}}</td>
                </tr>
                
            </tfoot>
        </table>
       </div>
    </div>

</section>
{% endblock contenido %}

