{% extends 'sitio_admin/base.html' %}
{% load static%}
{% block links %}
    <link rel="stylesheet" href="{% static 'sitio_admin/css/home.css' %}">
{% endblock links %}



{% block contenido %}
<script>
    $(document).ready(function () {
       $("#btnjuegos").click(function(){
        $("#btnjuegos").toggleClass("btn-outline-secondary btn-secondary")
           $("#tablajuegos").fadeToggle("slow")
           $("#btnjuegonuevo").fadeToggle("slow")
       });

       $("#btnarte").click(function(){
        $("#btnarte").toggleClass("btn-outline-secondary btn-secondary")
           $("#tablaarte").fadeToggle("slow")
           $("#btnartenuevo").fadeToggle("slow")
       });

    });



function eliminarjuego(idjuego){

    Swal.fire({
        title:"¿Está seguro que desea eliminar?",
        
        showConfirmButton: true,
        confirmButtonColor: "red",

        showCancelButton: true,
        icon: 'warning'
    }).then(function(result){
        if(result.isConfirmed){
            window.location.href="eliminarjuego/" + idjuego;
        }
    });
   
}

function eliminararte(idarte){

    Swal.fire({
        title:"¿Está seguro que desea eliminar?",
        
        showConfirmButton: true,
        confirmButtonColor: "red",

        showCancelButton: true,
        icon: 'warning'
    }).then(function(result){
        if(result.isConfirmed){
            window.location.href="eliminararte/" + idarte;
        }
    });
   
}
</script>
<section id="producttables">
    

    <div class="container pt-5">
        <h3 class="text-center pt-3 pl-5 pr-5 ml-5 mr-5" ><button id="btnjuegos" type="button" class="btn btn-secondary btn-block btn-lg ">Juegos </button> </h3>
        <div class="text-right pb-2 pr-5" id="btnjuegonuevo"><a href="{% url 'agregarjuego' %}" class="btn btn-outline-success btn-sm">Agregar Juego</a></div>
        <div class="scrollable justify-content-center " id="tablajuegos">
            
            <table class=" table table-responsive-md table-striped table-light  ">
                <thead class="bg-secondary text-light ">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                <tbody class="">
                   {% for item in juegos  %}
                   
                    <tr>
                        <td >{{item.idjuego}}</td>
                        <td>{{item.nombrejuego}}</td>
                        <td>${{item.preciojuego}}</td>
                        <td>{{item.get_estado_display}}</td>
                        <td class="text-center tdbuttons " id="" >
                            <a href="{% url 'editarjuego' item.idjuego %}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                            <a  class="btn btn-outline-danger" role="button" onclick="eliminarjuego({{item.idjuego}})" ><i class="far fa-trash-alt"></i></a>
                             {% comment %} <a href="{% url 'eliminarjuego' item.idjuego %}" class="btn btn-outline-danger" ><i class="far fa-trash-alt"></i></a> {% endcomment %}
                           
                        
                    </tr>
                   
                   {% endfor %}
                   
                </tbody>
            </table>
        </div>
       
    </div>



    <div class="container pt-5">
        <h3 class="text-center pt-3 pl-5 pr-5 ml-5 mr-5" ><button id="btnarte" type="button" class="btn btn-secondary btn-block btn-lg ">Arte</button></h3>
        <div class="text-right pb-2 pr-5" id="btnartenuevo"><a href="{% url 'agregararte' %}" class="btn btn-outline-success btn-sm">Agregar Arte</a></div>
        <div class="scrollable " id="tablaarte">
            <table class="table   table-responsive-md   table-striped table-light table-bordered ">
                <thead class="bg-secondary text-light ">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                <tbody class="">
                   {% for item in arte  %}
                   
                    <tr>
                        <td >{{item.idarte}}</td>
                        <td>{{item.nombrearte}}</td>
                        <td>${{item.precioarte}}</td>
                        <td>{{item.get_estado_display}}</td>
                        <td class="text-center tdbuttons " id="" ><a href="{% url 'editararte' item.idarte %}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                             <a  class="btn btn-outline-danger" role="button" onclick="eliminararte({{item.idarte}})" ><i class="far fa-trash-alt"></i></a>
                        
                    </tr>
                   
                   {% endfor %}
                   
                </tbody>
            </table>
        </div>
       
    </div>
</section>


<

{% endblock contenido %}


