{% extends 'sitio_admin/base.html' %}
{% load static %}

{% block contenido %}

<section>
    <div class="container pt-5">
        <h3 class="text-center">Listado de pedidos</h3>
        <table class="table table-responsive-lg table-striped">
            <thead>
                <th>ID</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Cliente</th>
                <th>Detalle</th>

            </thead>
            <tbody>
            {% for pedido in pedidos  %}
                 <tr>
                    <td>{{pedido.id}}</td>
                    <td>{{pedido.fecha}}</td>
                    <td>${{pedido.monto}}</td>
                    <td>{{pedido.get_estado_display}}</td>
                    <td>{{pedido.user}}</td>
                    <td><a href="{% url 'detallepedidoadm' pedido.id %}" class="btn btn-outline-info"><i class="fas fa-info-circle"></i></a></td>
                </tr>
            
            {% endfor %}
               
            </tbody>
        </table>

    </div>
</section>

{% endblock contenido %}