{% extends 'sitio_admin/base.html' %}
{% load static%}
{% block links %}
    <link rel="stylesheet" href="{% static 'sitio_admin/css/home.css' %}">
{% endblock links %}


{% block contenido %}

    <section id="sectionclientes">
        <div class="text-center container mt-5 mb-3">
            <h4>Listado de empleados</h4>
        </div>

        <div class="container">
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        
                        <td>Nombre</td>
                        <td>Email</td>
                        
                    </tr>

                </thead>

                <tbody>
                    {% for usuario in usuarios  %}
                    <tr>
                        <td>{{usuario.username}}</td>
                        {% if not usuario.email %}
                        <td>No asignado</td>
                        {% else %}
                        <td>{{usuario.email}}</td>
                        {% endif %}
                        
                        
                        
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
              </table>
        </div>


    </section>







{% endblock contenido %}





