{% extends 'sitio_admin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<section>
    <div class="row pt-5">
        <div class="col-lg-4 col-md-12 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 pt-5  text-dark pb-5" style="border-radius: 25px;">
            <h4 class="text-center pb-2">Iniciar Sesion</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-secondary btn-block mt-4" value="Ingresar">

            </form>
            <p>¿No tienes cuenta? Crea una <a href="{% url 'registro' %}">Aqui</a></p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">

        </div>
    </div>
</section>
{% endblock contenido %}

