.imgcarousel{
    max-height: 500px;
    width: 100%;
    
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.76);
    width: 100%;
    left: 0;
    padding-top: 10px;
    padding-bottom: 1%;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 0;
    color: rgb(224, 222, 222);
}

@media(min-width:768px){
    #dropuser {
        position: fixed;
        right: 10%;

    }
}

#cardsjuegos img{
    max-height: 200px;
}

#detallejuego img{
    max-height: 500px;

}

#descripcionjuego{
    max-height: 300px;
    overflow: hidden;
}

.reviewdetail{
    background-color: rgb(73, 70, 70);
    color: whitesmoke;
    
}

body{
    background-color: #8B78FF;
}