

.scrollable{
        height: 400px;
        overflow: scroll;
        overflow-x: hidden;
 }

.tdbuttons{
    width: 15%;
}

#producttables ::-webkit-scrollbar {
    width: 12px;
}

#producttables ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(230, 227, 227);
    border-radius: 10px;
}

#producttables ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgb(133, 133, 133);
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}